<!-- Source http://codepen.io/jdnichollsc/pen/xOZgYw -->
<ion-modal-view id="login" class="modalcomments">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">CHANGE PASSWORD</h1>
    <button class="button button-icon icon ion-arrow-left-c" ng-click="closechangepassmodal()"></button>
    <button class="button button-icon"></button>
  </ion-header-bar>
  <ion-content padding="true">
  <ion-list>
  <div class="row responsive-md">
      <div class="col col-50 col-offset-25">
          <form name="passwordForm" ng-submit="changepass(datapassword)">
              <div class="list list-inset">
                  <label class="item item-input item-stacked-label" style="background-color: #f8f8f8" ng-class="{ 'has-errors' : passwordForm.password1.$invalid && !passwordForm.password1.$pristine}">
                      <span class="input-label">New Password</span>
                        <input type="password" ng-model="datapassword.newpass" class="form-control" placeholder="New Password" required name="password1">
                    </label>
                    <label class="item item-input item-stacked-label" style="background-color: #f8f8f8" ng-class="{ 'has-errors' : passwordForm.password2.$invalid && !passwordForm.password2.$pristine}">
                      <span class="input-label">Re-type Password</span>
                        <input type="password" ng-model="datapassword.retypepass" class="form-control" placeholder="Re-type New Password" required name="password2" same-as="datapassword.newpass">
                    </label>
              </div>
              <div class="list list-inset">
                  <label class="item item-input item-stacked-label" style="background-color: #f8f8f8">
                    <span class="input-label">Old Password</span>
                      <input type="password" ng-model="datapassword.oldpass" class="form-control" placeholder="Old Password" required>
                  </label>
              </div>
              <button type="submit" class="button button-block button-positive rcorners2" ng-disabled="passwordForm.$invalid">
                Change
              </button>
          </form>
      </div>
  </div>
  </ion-content>
</ion-list>
</ion-modal-view>