<ion-view id="login" hide-nav-bar="true">
    <ion-content scroll="true" padding="true">
        <div class="row row-center" style="margin-top:0px">
            <div class="row responsive-md">
                <div class="col col-50 col-offset-25">
                      <div class="profile-picture-login">
                        <img data-ng-src="img/rt.png" width="100%" height="100%">
                      </div>
                    <form name="loginForm" ng-submit="loginmanual(users)" novalidate="">
                        <div class="list list-inset label" style="margin-bottom:5px">
                            <label class="item item-input item-stacked-label">
                                <span class="input-label">Your Username</span>
                                <input type="text" ng-model="users.username"  class="form-control" required>
                            </label>

                            <label class="item item-input item-stacked-label">
                              <span class="input-label">Your Password</span>
                                <input type="password" ng-model="users.password" class="form-control" required>
                            </label>
                        </div>
                        <p style="float:right;color:rgba(255, 255, 255, 0.5);padding-top:10px;padding-bottom:10px;" ng-click="resetpassword()">Forget Password?</p>
                        <button type="submit" class="button button-block button-balanced rcorners2" ng-disabled="loginForm.$invalid" style="border: 1px solid rgba(255, 255, 255, 0.8);">
                          Sign In
                        </button>
                    </form>
                    <button  class="button button-block button-calm rcorners2" style="border: 1px solid rgba(255, 255, 255, 0.8); " ng-click="signupnewuser()" ng-show="showregister">
                      Sign Up
                    </button>
                    <div style="padding-top:10px;text-align: center;">
                        <button class="button ion-social-googleplus rcorners2" ng-click="loginWithGoogle()" style="border: 1px solid rgba(255, 255, 255, 0.8);background-color: #f44336;color:white;">
                        </button>
                        <button class="button  ion-social-facebook button-positive rcorners2" ng-click="loginWithFacebook()" style="border: 1px solid rgba(255, 255, 255, 0.8);"></button>

                        <button class="button  ion-social-twitter button-calm rcorners2" ng-click="loginWithTwitter()" style="border: 1px solid rgba(255, 255, 255, 0.8);"></button>

                        <button class="button  ion-social-yahoo button-calm rcorners2" ng-click="loginWithYahoo()" style="border: 1px solid rgba(255, 255, 255, 0.8);background:#514099"></button>
                    </div>
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>