<ion-view id="login" hide-nav-bar="false" view-title="Registration">
    <ion-content scroll="true" padding="true" >
        <div class="row responsive-md">
            <div class="col col-50 col-offset-25">
                <form name="loginForm" ng-submit="registerbaru(customers)">
                    <div class="list list-inset">
                        <label class="item item-input item-stacked-label" style="background-color: #f8f8f8" ng-class="{ 'has-errors' : loginForm.namavalid.$invalid && !userForm.namavalid.$pristine}">
                          <span class="input-label">Nama</span>
                            <input type="text" name="namavalid" ng-model="customers.NAMA" class="form-control" placeholder="Nama" required>
                        </label>
                        <label class="item item-input item-stacked-label" style="background-color: #f8f8f8" ng-class="{ 'has-errors' : loginForm.alamatvalid.$invalid && !userForm.alamatvalid.$pristine}">
                          <span class="input-label">Alamat</span>
                            <input type="text" name="alamatvalid" ng-model="customers.ALAMAT" class="form-control" placeholder="Alamat" required>
                        </label>
                        <label class="item item-input item-stacked-label" style="background-color: #f8f8f8" ng-class="{ 'has-errors' : loginForm.telpvalid.$invalid && !userForm.telpvalid.$pristine}">
                          <span class="input-label">No.Telp</span>
                            <input type="tel" name="telpvalid" ng-model="customers.HP" class="form-control" placeholder="No Telepon" required>
                        </label>
                        <label class="item item-input item-stacked-label" style="background-color: #f8f8f8" ng-click="chooseluasrumah()" ng-class="{ 'has-errors' : loginForm.luasrumahvalid.$invalid && !userForm.luasrumahvalid.$pristine}">
                          <span class="input-label">Luas Rumah</span>
                            <input type="tel" name="luasrumahvalid" ng-model="customers.LUAS_TANAH" class="form-control" placeholder="Luas Rumah" required readonly>
                        </label>
                    </div>
                    <button type="submit" class="button button-block button-positive rcorners2" ng-disabled="loginForm.$invalid" round>
                      Registration
                    </button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>