<!-- Source http://codepen.io/jdnichollsc/pen/xOZgYw -->
<ion-modal-view id="login" class="modalcomments">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">RESET PASSWORD</h1>
  </ion-header-bar>
  <ion-content overflow-scroll="false" has-bouncing="true" class="has-header has-footer">
    <div class="row responsive-md">
        <div class="col col-50 col-offset-25">
            <form name="passwordForm" ng-submit="submitresetpass(datapassword)" role="form" novalidate="novalidate">
              <div class="row item-text-wrap">
                <span style="text-align:justify">
                  Reset Kode Telah Dikirimkan Ke Email Anda.Check Email Atau Junk Email Anda Untuk Mendapatkan Reset Kode.
                </span>
              </div>
              <div class="list list-inset">
                    <h1 style="text-align:center;font-size: 12px;margin-left:-25px">RESET CODE</h1>
                    <label class="item item-input item-stacked-label" >
                        <input type="text" ng-model="datapassword.keyconfirmation" class="form-control" placeholder="" style="text-align:center;" required>
                    </label>
                </div>
                <div class="list list-inset">
                    <label class="item item-input item-stacked-label" style="background-color: #f8f8f8">
                      <span class="input-label">New Password</span>
                        <input type="password" ng-model="datapassword.newpass" class="form-control" placeholder="New Password" required name="password1">
                    </label>
                    <label class="item item-input item-stacked-label" style="background-color: #f8f8f8" ng-class="{ 'has-errors' : passwordForm.password2.$invalid, 'no-errors' : passwordForm.password2.$valid}">
                      <span class="input-label">Re-type Password</span>
                        <input type="password" ng-model="datapassword.retypepass" class="form-control" placeholder="Re-type New Password" required name="password2" same-as="datapassword.newpass">
                    </label>
                </div>
                <button type="submit" class="button button-block button-positive rcorners2" ng-disabled="passwordForm.$invalid">
                  Confirm
                </button>
            </form>
        </div>
    </div>
  </ion-content>
</ion-modal-view>