<ion-modal-view class="modaldetail">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">COMMENTS</h1>
    <button class="button button-icon icon ion-arrow-left-c" ng-click="closemodalcomment()"></button>
    <button class="button button-icon"></button>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
      <div class="item row" style="background-color: teal;color:white;">
        <span style="text-align:left;" class="col col-50" >
        </span>
        <span style="text-align:right;font-size: 14px" class="col col-50">
          {{postingan.TGL|date :'EEEE, dd-MM-yy'}} {{postingan.JAM}}
        </span>
      </div>
      <div class="itempost item-text-wrap">
         <p align="justify">{{postingan.NOTE}}</p>
      </div>
    </div>
    <div class="list card">
        <div class="item row">
          <span style="text-align:left" class="col col-50">Info Personal</span>
        </div>
        <ion-item>
            <div class="item-icon-left">
                <i class="icon ion-key"></i>
                <p>{{detailpekerja.ID_PEKERJA|uppercase}}</p>
            </div>
            <div class="item-icon-right">
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </ion-item>
        <ion-item>
            <div class="item-icon-left">
                <i class="icon ion-social-whatsapp custom-icon-green"></i>
                <p>{{detailpekerja.HP|uppercase}}</p>
            </div>
            <div class="item-icon-right">
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </ion-item>
        <ion-item>
            <div class="item-icon-left">
                <i class="icon ion-male" ng-if="detailpekerja.GENDER == 'pria'"></i>
                <i class="icon ion-female" ng-if="detailpekerja.GENDER != 'pria'"></i>
                <p>{{detailpekerja.GENDER|uppercase}}</p>
            </div>
            <div class="item-icon-right">
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </ion-item>
        <ion-item ng-if="detailpekerja.ALAMAT">
            <div class="item-icon-left">
                <i class="icon ion-ios-home-outline"></i>
                <p>{{detailpekerja.ALAMAT}}</p>
            </div>
            <div class="item-icon-right">
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </ion-item>
        <ion-item ng-if="detailpekerja.EMAIL">
            <div class="item-icon-left">
                <i class="icon ion-ios-email-outline"></i>
                <p>{{detailpekerja.EMAIL}}</p>
            </div>
            <div class="item-icon-right">
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </ion-item>
    </div>
  </ion-content>
</ion-modal-view>