<!-- Source http://codepen.io/jdnichollsc/pen/xOZgYw -->
<ion-modal-view class="modalcomments">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">COMMENTS</h1>
    <button class="button button-icon icon ion-arrow-left-c" ng-click="closemodalcomment()"></button>
    <button class="button button-icon"></button>
  </ion-header-bar>
  <ion-content overflow-scroll="false" has-bouncing="true" class="has-header has-footer">
    <div class="message-wrapper" ng-repeat="postingan in postingan">

        <div ng-if="postingan.user_id == 1">
            
          <img class="profile-pic left" ng-src="{{profile.picture}}" />

            <div class="chat-bubble left">
                <img ng-click="photoBrowser(message)" ng-if="message.photo" ng-src="{{message.photo}}" ng-success="refreshScroll(scrollDown)"/>
                <div class="message">{{postingan.NOTE}}</div>

                <div class="message-detail">
                    <span ng-click="viewProfile(message)" class="bold">{{postingan.username}}</span>,
                    <span am-time-ago="message.date"></span>
                </div>

            </div>
        </div>

        <div ng-if="postingan.user_id != 1">
          
             <img class="profile-pic right" ng-src="img/rt.png" />
          
            <div class="chat-bubble right">
            
                <img ng-click="photoBrowser(message)" ng-if="message.photo" ng-src="{{message.photo}}" ng-success="refreshScroll($last)"/>

                <div class="message">{{postingan.NOTE}}</div>

                <div class="message-detail">
                    <span class="bold">{{postingan.username}}</span>, 
                    <span>{{postingan.date|date :'EEEE, dd-MM-yy HH:mm'}}</span>
                </div>

            </div>
          
        </div>

        <div class="cf"></div>

    </div>
  </ion-content>

  <form name="sendMessageForm" ng-submit="sendMessage(sendMessageForm)" novalidate>
    <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
        <label class="item-input-wrapper">
            <textarea ng-model="input.message" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
        </label>
        <div class="footer-btn-wrap">
          <button class="button button-icon icon ion-images button-dark button-clear photo" type="button" ng-if="!input.message || input.message === ''" on-tap="sendPhoto()">
      </button>
          <button class="button button-icon icon ion-android-send footer-btn" type="submit"
              ng-disabled="!input.message || input.message === ''">
          </button>
          <a ng-click="refreshScroll(true, 50)" ng-show="!scrollDown" class="scrollDownBtn button button-icon icon ion-android-arrow-dropdown-circle"></a>
        </div>
    </ion-footer-bar>
  </form>

</ion-modal-view>