<ion-view id="login" view-title="RAWAT TAMAN">
  <ion-content class="has-header padding">
	    <div class="profile-item">
			<div class="profile-picture-login">
			<!-- <div class="profile-picture big-profile-picture" style="background:rgb(200, 200, 100)"> -->
				<img data-ng-src="img/rt.png">
			</div>
	    </div>

  	<div class="list card">
        <div class="item row" style="background:rgb(200, 200, 100)">
          <span style="text-align:center" class="col col-100">Informasi Pelayanan</span>
        </div>
        <ion-item>
            <div class="item-icon-left">
                <i class="icon ion-ios-telephone-outline custom-icon-gold"></i>
                <a href="tel:02130448598" style="text-decoration: none;color:#666">021-30448598</a>
            </div>
        </ion-item>
        <ion-item>
            <div class="item-icon-left">
                <i class="icon ion-social-whatsapp custom-icon-green"></i>
                <a href="tel:085888647088" style="text-decoration: none;color:#666">085888647088</a>
            </div>
        </ion-item>
        <ion-item>
            <div class="item-icon-left">
                <i class="icon ion-home custom-icon-red"></i>
                <p>Ruko De Mansion C-12</p><p> Alam Sutera</p>
            </div>
        </ion-item>
      </div>
  </ion-content>
</ion-view>