<ion-modal-view id="login" class="modaldetail">
  <ion-header-bar class="bar bar-header bar-assertive">
    <h1 class="title">DESKRIPSI</h1>
    <button class="button button-icon icon ion-arrow-left-c" ng-click="closedeskripsinotifikasimodal()"></button>
    <button class="button button-icon"></button>
  </ion-header-bar>
    <ion-content scroll="true" padding="true" >
        <ion-list>
	        <div class="row item-text-wrap">
	          <span style="text-align:justify" class="col col-100">
	          	<!-- We'd love to hear what you think about our service or our app. -->
	            Disini akan ada halaman deskripsi promosi dengan design parallax ataupun shrink.
	          </span>
	        </div>
	    </ion-list>
    </ion-content>
</ion-modal-view>