<ion-view view-title="HISTORY">
	<ion-content>
	    <div class="list card" ng-click="openmodaldetail()">
			<div class="item row">
			  <span style="text-align:left;" class="col col-50"></span>
			  	<span style="text-align:right;font-size: 8px" class="col col-50">
			  		04 May 2017, 12:05 PM
		  		</span>
			</div>
		    <div class="item item-body">
		      <ion-item>
                <div class="item-icon-left">
                    <i class="icon ion-navicon"></i>
                    Radumta Sitepu
                </div>
                <div class="item-icon-right">
                    <i class="icon ion-ios-star-outline"></i>
                </div>
            </ion-item>
		    </div>
	    </div>
	</ion-content>
</ion-view>

