<!-- <ion-view view-title="JADWAL" name="jadwal-view" hide-back-button="false" >
	<ion-content class="padding">
		<div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
    </ion-content>
</ion-view> -->

<ion-view view-title="JADWAL" name="jadwal-view" id="login" >
	<ion-content class="padding">
		<div style="background-color:#f8f8f8;padding:15px;border-radius:15px;">
			<div ui-calendar="uiConfig.calendar" ng-model="eventSources" style="background-color:#f8f8f8"></div>
		</div>
    </ion-content>
</ion-view>