<ion-view view-title="DASHBOARD" name="dashboard-view" id="login">
	<ion-content scroll="true">
        <ion-list>
            <style>
                .itmbadge 
                {
                    position:relative;
                    display:inline-block;
                }
                .notify-badge:before 
                {
                    content: "";
                    display: inline-block;
                    position: relative;
                    background:white; 
                }
                .notify-badge
                {
                    position: absolute;
                    right:14%;
                    top:15%;
                    background:#3781ff;
                    text-align: center;
                    border-radius: 30px 30px 30px 30px;
                    color:white;
                    padding:4px 8px;
                    font-size:16px;
                    font-family: Cambria;
                    box-shadow: 0 0 0 5px #fff; 
                }

            </style>
            <div class="row" style="flex-wrap: wrap;">
                <div class="col col-33 itmbadge" style="cursor:pointer" ng-repeat="item in menus">
                	<a ng-href="{{item.link}}">
                        <span class="notify-badge" ng-if="item.itembadge > -1">{{item.itembadge}}</span>
                        <img ng-src="{{item.src}}" width="100%" style="border-radius: 50%;"/>
                    </a>
                    <h5 style="text-align:center;display:block;margin-top:-10px;font-size:10px;">{{item.judul}}</h5>
                  </i>
                </div>
            </div>
        </ion-list>
        
    </ion-content>
    <ion-footer-bar class="bar-assertive">
        <h1 class="title">Wellcome To Rawat Taman</h1>
    </ion-footer-bar>
</ion-view>